# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/
env.bak/
venv.bak/

# PyCharm files
.idea/

# Test/report outputs
output/
reports/
logs/
allure-report/
allure-results/

# Pytest cache
.cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
.env.*

# Selenium related
*.log
*.tmp
screenshots/

# Python packaging
build/
dist/
*.egg-info/

# Pip logs
pip-log.txt
pip-delete-this-directory.txt
